---
import '@/styles/global.css'

// Supports weights 100-900
import '@fontsource-variable/overpass'

import Layout from '@/layouts/Layout.astro'

import About from '@freelance/About.astro'
import Contact from '@freelance/Contact.astro'
import FAQ from '@freelance/FAQ.astro'
import Footer from '@freelance/Footer.astro'
import Header from '@freelance/Header.astro'
import Hero from '@freelance/Hero.astro'
import Price from '@freelance/Price.astro'
import Projects from '@freelance/Projects.astro'
import Services from '@freelance/Services.astro'

import { basics } from '@cv'
const { name, label } = basics
---

<Layout title={`Portafolio de ${name} - ${label}`}>
  <Header />
  <main>
    <Hero />
    <About />
    <Services />
    <Projects />
    <Price />
    <FAQ />
    <Contact />
  </main>
  <Footer />
</Layout>
